
*, *::before, *::after{ margin:0; padding:0; box-sizing:border-box; }

:root{ --accent-color:#800000; }

h1,h2,h3,p,ul{ padding-top:.5em; padding-bottom:.5em; }

ul{ margin-left:2em; }

body{ width:80%; margin:0 auto; border:2px solid var(--accent-color); font-family:Arial,Helvetica,sans-serif; font-size:100%; }

header{ border-bottom:2px solid var(--accent-color); background:linear-gradient(30deg,#f6bb73 0%, #fff 30%, #fff 65%, #f6bb73 100%); }

header h2, header h3{ text-indent:0; }
header img{ float:left; margin:.75em 1em .75em 1em; height:80px; }
header h2{ padding-bottom:0; font-size:170%; }
header h3{ padding-bottom:1em; font-style:italic; font-size:130%; }

main{ clear:left; padding:0 1em 1em 1em; }

main h1{ border-top:2px solid var(--accent-color); border-bottom:2px solid var(--accent-color); }

footer{ background:var(--accent-color); }
footer p{ color:#fff; text-align:center; padding:.999em 0; }

blockquote{ font-style:italic; padding-left:2em; }

main img{ border:4px double var(--accent-color); border-radius:8px; padding:2px; }

a:hover, a:focus{ font-style:italic; color:var(--accent-color); }
em.large{ font-size:125%; }
